{% extends 'main.html' %}
{% load static%}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <br>
            <h5>ACTIVE USERS:</h5>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>SL/NO</th>
                        <th>UserID</th>
                        <th>Username</th>
                        <th>Email</th>

                    </tr>
                    {% for datas in datas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{datas.id}} </td>
                        <td>{{datas.username}} </td>
                        <td>{{datas.email}} </td>

                    </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}